/*Toggle new game */

.cell {
  border: solid 2px red;
  width: 100px;
  height: 100px;
}

.top,
.mid,
.bot {
  display: flex;
}

.test {
  border: solid 2px blue;
  width: 100px;
  height: 100px;
}

/*toggle hidden on and off*/
.hidden {
  display: none;
}

/*Dropdown menu for difficulty*/

.difficulty .dropdown-menu {
  display: none;
}

.difficulty.open .dropdown-menu {
  display: block;
}
