/*Toggle new game */

body {
  display: flex;
  flex-direction: column;
}

/*Difficulty and back button */
h2 {
  display: flex;
}

/*Score board */
h3 {
}

/*Tic Tac Toe Board */
.cell {
  border: solid 2px red;
  width: 100px;
  height: 100px;
}

.top,
.mid,
.bot {
  display: flex;
}

/*toggle hidden on and off*/
.hidden {
  display: none;
}

/*Dropdown menu for difficulty*/

.dropdownbtn {
  background-color: none;
  color: black;
  font-size: 25px;
  box-shadow: none;
  border: none;
  min-width: 240px;
  border-bottom: 2px solid black;
}

.difficulty .dropdownMenu {
  display: none;
}

.difficulty.open .dropdownMenu {
  display: block;
}
